vti_encoding:SR|utf8-nl
http\://www.free-ip.com/:_borders/bottom.htm index.html
http\://www.vautomation.com:index.html
mailto\:davidk@free-ip.com:index.html
http\://atarihq.com/danb/6502page.htm:index.html
free6502_v07.zip:download.htm
free6502_v05.zip:6502/download.htm
http\://www.wdesignc.com/:index.html
http\://www.6502.org:index.html
http\://www.npsnet.com/danf/cbm/cross-development.html:index.html
/c\:/windows/profiles/dk/my documents/my webs/myweb4/mailinglist.htm:index.html
